.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.post-form {
    margin-bottom: 20px;
}

.post-title, .post-content {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.post-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-item {
    width: 300px; /* Adjust the width as needed */
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    overflow: hidden; /* Clear the float from the form elements */
}
.post-item h3 {
    font-size: 1.2em;
    color: #333;
}

.send-message-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.other-1 {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px; /* Add some margin to separate buttons */
}