body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

button {
  font-weight: bold;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    padding-top: 2px;
    border-radius: 5px;
    height: 150px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    padding-top: 2px;
    border-radius: 5px;
}

.welc {
  width: auto;
  height: 100px;
  margin-top: 25px;
  padding: 10px;
  float: left;
}


.user-button {
  position: relative;
  float: right;
  margin-top: 7px;
  width: 100px;
  height: 150px;
}

.user {
  background-color: #f4f4f4;
  color: #333;
  position: relative;
  font-size: 20px;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  text-align: center;
  float: right;
}

.logout-button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 100px;
    margin-top: 10px;
    float: right;   
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
}

.post-form {
    margin-bottom: 20px;
}

.post-title, .post-content {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.post-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 16px;
}

.post {
  width: 50%;
}

.react {
  width: 50%;
}

.post-list {
    list-style-type: none;
    padding: 0;
}

.post-item {
    background-color: #f4f4f4;
    margin-bottom: 5px;
    padding: 10px;
    padding-top: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #333;
}

.post-item h3 {
  font-size: 1.2em;
  color: #333;
}

.send-message-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 5px;
    padding: 8px 16px;
}

.new-post-container {
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #333;
}

h2{
    color: #333;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding: 0px;
}

.navbar-item {
    background-color: #28a745;
    color: #f4f4f4;
    cursor:pointer;
    font-size: 20px;
    float: left;
    text-align: center;
    width: 20%;
    height: 50px;
    padding: 0 0 0 0;
    border: none;
}

.navbar-item:hover {
  background-color: #333;
}

.delete-post-button {
    background-color: #ff392e;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    padding: 8px 16px;
    border-radius: 5px;
}

.creator {
    background-color: #ff9900;
    color: #fff;
    width: 100px;
    height: 15px;
    border: none;
    border-radius: 5px;
    
    text-align: center;
    margin-top: 10px;
    padding: 8px 16px;
    font-weight: bold;
}
@media screen and (width < 600px) {
  .navbar-items {
    display: none;
    flex-direction: column;
    position:absolute;
    overflow: auto;
 /* Adjust the top value based on your header height */
    left: 0;
    width: 100%;
    background-color: #f4f4f4; /* Add a background color for better visibility */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Add a box shadow for a dropdown effect */
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-item {
    width: 100%;
    box-sizing: border-box;
  }
  .welc{
    max-inline-size: 30px;
  }
}

@media screen and (width > 601px) {
  .navbar-toggler {
    display: none;
  }

  .navbar-items {
    display: flex;
    position: static; /* Reset the position */
    background-color: transparent; /* Reset the background color */
    box-shadow: none; /* Reset the box shadow */
  }

  .navbar-item {
    width: 100%;
    box-sizing: border-box;
  }
}
