<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymConnect - Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/messages.css') }}">
</head>

<body>
    <div class="header">
        <div class="welc">
            <h1 class="welcome">Messages of {{ current_user.username }}</h1>
        </div>
        <div class="user-button">
            <div class="user">
                <h1>{{ current_user.username[0] }}</h1>
            </div>
            <button type="button" class="logout-button" onclick="logout()">Logout</button>
        </div>
    </div>

    <div class="navbar">
        <button class="navbar-toggler" onclick=toggleNavbar()>☰</button>
        <div class="navbar-items" id="navbarItems">
            <button type="button" class="navbar-item" onclick="home()">Home</button>
            <button type="button" class="navbar-item" onclick="profile()">Profile</button>
            <button type="button" class="navbar-item" onclick="search()">Search</button>
            <button type="button" class="navbar-item" onclick="messages()">Messages</button>
            <button type="button" class="navbar-item" onclick="about()">About</button>
        </div>
    </div>

    <main>
        <h2>Messages:</h2>
            {% for message in messages %}
                <div class="mes">
                    <div class="mes-content">
                        {{ message.content }}
                    </div>
                    <div class="mes-sender">
                        {% for user in users %}
                            {% if user.id == message.sender_id %}
                                {{ user.username }}
                            {% endif %}
                        {% endfor %}               
                    </div>
                </div>  
            {% endfor %}
    </main>

    <footer class="footer">
        <h4 class="impressum">University of Győr - Projektwork 1-2.</h4>
        <h4 class="impressum">Kadocsa Levente ○ Székely Katalin ○ Szabó Dóra ○ Kovács Péter ○ Tóth Balázs</h4>
    </footer>
</body>
</html>

<script>
    function toggleNavbar() {
        var navbarItems = document.getElementById("navbarItems");
        navbarItems.style.display = (navbarItems.style.display === "none" || navbarItems.style.display === "") ? "block" : "none";
    }
    function logout() {
        window.location.href = "{{ url_for('logout') }}";
    }

    function home() {
        window.location.href = "{{ url_for('home') }}";
    }

    function profile() {
        window.location.href = "{{ url_for('profile') }}";
    }

    function search() {
        window.location.href = "{{ url_for('search') }}";
    }

    function messages() {
        window.location.href = "{{ url_for('messages') }}";
    }

    function about() {
        window.location.href = "{{ url_for('about') }}";
    }
</script>





